{% extends 'base.html' %} {% load static %} {% block body %}
<form method="post">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-12 col-sm-6">
            <select name="doctor" class="form-select border-0" style="height: 55px;">
                                        <option selected>Choose Doctor</option>
                                        {% for i in doctor %}
                                        <option value="{{i}}">{{i}}</option>
                                        {% endfor %}
                                    </select>
        </div>
        <div class="col-12 col-sm-6">
            <div class="date" id="date" data-target-input="nearest">
                <input name="start-date" type="time" class="form-control border-0 datetimepicker-input" placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="time" id="time" data-target-input="nearest">
                <input type="time" name="end-date" class="form-control border-0 datetimepicker-input" placeholder="Choose Date" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
            </div>
        </div>
        <div class="col-12">
            <textarea name="problem" class="form-control border-0" rows="5" placeholder="Describe your problem"></textarea>
        </div>
        <div class="col-12">
            <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>
        </div>
    </div>
</form>
{% endblock %}