{% extends 'base.html' %} {% load static %}{% block body %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">Doctors</p>
            <h1>Our Experience Doctors</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Amisha Bhavsar</h5>
                        <p class="text-primary">Dental</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/team-2.jpg' %}" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Viral Patel</h5>
                        <p class="text-primary">Dental</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/team-3.jpg' %}" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Krishna Panchal</h5>
                        <p class="text-primary">Dental</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/team-4.jpg' %}" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Mack</h5>
                        <p class="text-primary">Dental</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}