{% extends 'base.html' %} {% load static %} {% block body %}

<div class='container'>
    <div class="row fullscreen align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="register_form_inner">
                <h1>Create Your Account Here!!</h1>
                <form class="row login_form" method="post" novalidate="novalidate">
                    {% csrf_token %} {{form.as_p}}
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">Create Account</button><br>
                        <div href="{% url 'login' %}">
                            <button type="submit" value="submit" class="primary-btn">Already have account!!</button>
                        </div>
                    </div>
                </form>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}